In [6]:
# Pandas Assignment
# 1. Create a Pandas Series using a list of 5 random numbers and custom index names. Then print the series and its data type.
# 2. Create a DataFrame with columns: "Student_Name", "Maths", "Science", "English". Fill it with 5 sample student records and display the top 3 rows using head().
# 3. Import a CSV file (use any sample dataset) into a DataFrame. Display the number of rows and columns using shape, and print column names.
# 4. Add a new column named "Total_Marks" that sums all three subject scores. Then create another column "Average" by dividing Total_Marks by 3.
# 5. Introduce a missing value (NaN) in the "Science" column and then:
#     (a) Identify missing values using isnull()
#     (b) Replace the missing value with the column mean using fillna().
# 6. Filter and display all students whose "Average" score is greater than 75.
# 7. Sort the DataFrame by "Total_Marks" in descending order and show the top 3 performers.
# 8. Group students based on their "English" score range (like above or below 70) and find the mean of "Maths" and "Science" marks for each group.
# 9. Merge two DataFrames:
#     (a) One with "Student_Name" and "Total_Marks"
#     (b) Another with "Student_Name" and "Sports_Score"
#     Then create a new column "Overall_Score" = Total_Marks + Sports_Score.
# 10. Export the final DataFrame to a CSV file on your Desktop (use os library to define path) and verify if the file is successfully created using os.path.exists().

In [2]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
import pandas as pd

In [5]:
# 1. Create a Pandas Series using a list of 5 random numbers and custom index names.Then print the series and its data type.
df = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
print(df)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [8]:
# 2. Create a DataFrame with columns: "Student_Name", "Maths", "Science", "English". Fill it with 5 sample student records and display the top 3 rows using head().
data = {
    'Student_Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Maths': [85, 90, 78, 92, 88],
    'Science': [79, 88, 85, 95, 80],
    'English': [92, 75, 80, 88, 90]
}

df_students = pd.DataFrame(data)
print(df_students.head(3))

  Student_Name  Maths  Science  English
0        Alice     85       79       92
1          Bob     90       88       75
2      Charlie     78       85       80

In [11]:
# 3. Import a CSV file (use any sample dataset) into a DataFrame. Display the number of rows and columns using shape, and print column names.
csv_path = '/content/sample_data/mnist_train_small.csv'
df_csv = pd.read_csv(csv_path)
print("Shape: ", df_csv.shape)
print("Columns: ", df_csv.columns)

Shape:  (19999, 785)
Columns:  Index(['6', '0', '0.1', '0.2', '0.3', '0.4', '0.5', '0.6', '0.7', '0.8',
       ...
       '0.581', '0.582', '0.583', '0.584', '0.585', '0.586', '0.587', '0.588',
       '0.589', '0.590'],
      dtype='object', length=785)

In [12]:
# 4. Add a new column named "Total_Marks" that sums all three subject scores. Then create another column "Average" by dividing Total_Marks by 3.
df_students['Total_Marks'] = df_students['Maths'] + df_students['Science'] + df_students['English']
df_students['Average'] = df_students['Total_Marks'] / 3
print(df_students)

  Student_Name  Maths  Science  English  Total_Marks    Average
0        Alice     85       79       92          256  85.333333
1          Bob     90       88       75          253  84.333333
2      Charlie     78       85       80          243  81.000000
3        David     92       95       88          275  91.666667
4          Eve     88       80       90          258  86.000000

In [17]:
# 5. Introduce a missing value (NaN) in the "Science" column and then:
#     (a) Identify missing values using isnull()
#     (b) Replace the missing value with the column mean using fillna().
df_students.loc[3,'Science'] = None
print(df_students)
print(df_students.isnull())
df_students['Science'].fillna(df_students['Science'].mean(), inplace=True)
print(df_students)

  Student_Name  Maths  Science  English  Total_Marks    Average
0        Alice     85     79.0       92          256  85.333333
1          Bob     90     88.0       75          253  84.333333
2      Charlie     78     85.0       80          243  81.000000
3        David     92      NaN       88          275  91.666667
4          Eve     88     80.0       90          258  86.000000
   Student_Name  Maths  Science  English  Total_Marks  Average
0         False  False    False    False        False    False
1         False  False    False    False        False    False
2         False  False    False    False        False    False
3         False  False     True    False        False    False
4         False  False    False    False        False    False
  Student_Name  Maths  Science  English  Total_Marks    Average
0        Alice     85     79.0       92          256  85.333333
1          Bob     90     88.0       75          253  84.333333
2      Charlie     78     85.0       80          243  81.000000
3        David     92     83.0       88          275  91.666667
4          Eve     88     80.0       90          258  86.000000

/tmp/ipython-input-2699292676.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_students['Science'].fillna(df_students['Science'].mean(), inplace=True)

In [18]:
# 6. Filter and display all students whose "Average" score is greater than 75.
df_students_filtered = df_students[df_students['Average'] > 75]
print(df_students_filtered)

  Student_Name  Maths  Science  English  Total_Marks    Average
0        Alice     85     79.0       92          256  85.333333
1          Bob     90     88.0       75          253  84.333333
2      Charlie     78     85.0       80          243  81.000000
3        David     92     83.0       88          275  91.666667
4          Eve     88     80.0       90          258  86.000000

In [20]:
# 7. Sort the DataFrame by "Total_Marks" in descending order and show the top 3 performers.
df_students_sorted = df_students.sort_values(by='Total_Marks', ascending=False)
print(df_students_sorted.head(3))

  Student_Name  Maths  Science  English  Total_Marks    Average
3        David     92     83.0       88          275  91.666667
4          Eve     88     80.0       90          258  86.000000
0        Alice     85     79.0       92          256  85.333333

In [23]:
# 8. Group students based on their "English" score range (like above or below 70) and find the mean of "Maths" and "Science" marks for each group.
df_students['English_Range'] = pd.cut(df_students['English'], bins=[0, 70, 100], labels=['Below 70', 'Above 70'])
print(df_students)
print(df_students.groupby('English_Range')[['Maths', 'Science']].mean())

  Student_Name  Maths  Science  English  Total_Marks    Average English_Range
0        Alice     85     79.0       92          256  85.333333      Above 70
1          Bob     90     88.0       75          253  84.333333      Above 70
2      Charlie     78     85.0       80          243  81.000000      Above 70
3        David     92     83.0       88          275  91.666667      Above 70
4          Eve     88     80.0       90          258  86.000000      Above 70
               Maths  Science
English_Range
Below 70         NaN      NaN
Above 70        86.6     83.0

/tmp/ipython-input-890109935.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(df_students.groupby('English_Range')[['Maths', 'Science']].mean())

In [24]:
# 9. Merge two DataFrames:
#     (a) One with "Student_Name" and "Total_Marks"
#     (b) Another with "Student_Name" and "Sports_Score"
#     Then create a new column "Overall_Score" = Total_Marks + Sports_Score.
df1 = pd.DataFrame({'Student_Name': df_students['Student_Name'], 'Total_Marks': df_students['Total_Marks']})
df2 = pd.DataFrame({'Student_Name': df_students['Student_Name'], 'Sports_Score': [100, 95, 88, 70, 60]})
df_merged = pd.merge(df1, df2, on='Student_Name')
df_merged['Overall_Score'] = df_merged['Total_Marks'] + df_merged['Sports_Score']
print(df_merged)

  Student_Name  Total_Marks  Sports_Score  Overall_Score
0        Alice          256           100            356
1          Bob          253            95            348
2      Charlie          243            88            331
3        David          275            70            345
4          Eve          258            60            318

In [25]:
# 10. Export the final DataFrame to a CSV file on your Desktop (use os library to define path) and verify if the file is successfully created using os.path.exists().
csv_path = '/content/sample_data/final.csv'
df_merged.to_csv(csv_path, index=False)
import os
os.path.exists(csv_path)

True