In [46]:
#1. Create a tuple named 'fruits' containing five fruit names and print it.
#2. Create a tuple with mixed data types (string, integer, float, boolean) and display each element using indexing
#3. Create a nested tuple that stores a country name and its states as another tuple
#4. Access the last element of a tuple using negative indexing
#5. Slice a tuple to print only the first three elements
#6. Use len) to find the number of elements in a tuple named 'students,
#7. Use max() and min() to find the highest and lowest marks from a tuple of integers,
#8. Use sum() to calculate the total sales from a tuple of daily sales data.
#9. Sort a tuple of numbers in ascending order using sorted() and convert it back to a tuple,
#10. Sort a tuple of numbers in descending order using sorted() with reverse-True.
#11. Count how many times a specific value appears in a tuple using the count() method.
#12. Find the index of a specific element in a tuple using the index() method.
#13.Check if "Python" is present in a tuple using the 'in' keyword.
#14. Check if "C++" is not present in a tuple using the 'not in' keyword.
#15. Create a tuple from a range of numbers 1 to 10 using the tuple() and range() functions.
#16. Use any() on a tuple of hoolean values to check if at least one element is True.
#17. Use all() on a tuple of boolean values to check if all elements are True.
#18. Concatenate two tuples representing first names and last names.
#19. Repeat a tuple containing ("Al", "ML") three times using the operator.
#20. Combine two tuples (names and scores) using zip() and convert the result into a tuple.
#21. Reverse a tuple using the reversed() function and convert it back to a tuple.
#22. Find the alphabetically first and last element in a tuple of strings using min() and max()
#23. Unpack a tuple of three elements into three separate variables and print them.
#24. Create a tuple and demonstrate immutability by trying to modify an element (observe the error).
#25. Compare the memory size of a list and a tuple containing the same elements using svs-getsizeof().
#26. Create a tuple of 10 numbers and calculate the average using sum() and len().
#27. Create a tuple of city names and print them in reverse order using slicing.
#28. Convert a tuple of numbers into a list, append a new number, and convert it back into a tuple.
#29. Create a tuple of employee details (Name, Age, Department) and use unpacking to print each value separately.
#30. Create two tuples (product name, price) and combine them using zip(); then display them sorted by price in descending order

In [47]:
#1. Create a tuple named 'fruits' containing five fruit names and print it.
fruits = ("apple","banana","kiwi","mango","peru")
print(fruits)

('apple', 'banana', 'kiwi', 'mango', 'peru')

In [48]:
#2. Create a tuple with mixed data types (string, integer, float, boolean) and display each element using indexing
my_tuple = ("string",21,1.2,True)
for i in range(len(my_tuple)):
    print(my_tuple[i])

string
21
1.2
True

In [49]:
#3. Create a nested tuple that stores a country name and its states as another tuple
country = ("India",("Goa","Maharashtra","Nagaland"))
print(country)

('India', ('Goa', 'Maharashtra', 'Nagaland'))

In [50]:
#4. Access the last element of a tuple using negative indexing
print("last element:",my_tuple[-1])

last element: True

In [51]:
#5. Slice a tuple to print only the first three elements
print("first three elements:",my_tuple[:3])

first three elements: ('string', 21, 1.2)

In [52]:
#6. Use len() to find the number of elements in a tuple named 'students'
students = ("Shrikant","Rukma","Suchi","Meera")
print(len(students))

4

In [53]:
#7. Use max() and min() to find the highest and lowest marks from a tuple of integers,
numbers = (20,21,30,25,27,18)
print(max(numbers))
print(min(numbers))

30
18

In [54]:
#8. Use sum() to calculate the total sales from a tuple of daily sales data.
daily_sales_data=(20,30,50,100,60,10,15,35)
print("total sales:",sum(daily_sales_data))

total sales: 320

In [55]:
#9. Sort a tuple of numbers in ascending order using sorted() and convert it back to a tuple,
numbers_sorted = tuple(sorted(numbers))
print(numbers_sorted)

(18, 20, 21, 25, 27, 30)

In [56]:
#10. Sort a tuple of numbers in descending order using sorted() with reverse-True.
numbers_sorted = tuple(sorted(numbers, reverse=True))
print(numbers_sorted)

(30, 27, 25, 21, 20, 18)

In [57]:
#11. Count how many times a specific value appears in a tuple using the count() method.
print(numbers.count(21))

1

In [58]:
#12. Find the index of a specific element in a tuple using the index() method.
print(numbers.index(21))

1

In [59]:
#13.Check if "Python" is present in a tuple using the 'in' keyword.
languages = {"Java","Python","C++","Rust"}
print("'Python' is present?","Python" in languages)

'Python' is present? True

In [60]:
#14. Check if "C++" is not present in a tuple using the 'not in' keyword.
print("'C++' is present?","C++" in languages)

'C++' is present? True

In [61]:
#15. Create a tuple from a range of numbers 1 to 10 using the tuple() and range() functions.
numbers = tuple(range(1,11))
print(numbers)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [62]:
#16. Use any() on a tuple of hoolean values to check if at least one element is True.
binary = (1,0,1,0)
print(any(binary))

True

In [63]:
#17. Use all() on a tuple of boolean values to check if all elements are True.
print(all(binary))

False

In [64]:
#18. Concatenate two tuples representing first names and last names.
first_name = ("Shrikant","Arvind","JK")
last_name = ("Tiwari","Choudhary","Talpade")
names = tuple(first_name + last_name)
print(names)

('Shrikant', 'Arvind', 'JK', 'Tiwari', 'Choudhary', 'Talpade')

In [65]:
#19. Repeat a tuple containing ("Al", "ML") three times using the operator.
tuple1 = ("Al", "ML")
tuple1x3 = tuple(tuple1*3)
print(tuple1x3)

('Al', 'ML', 'Al', 'ML', 'Al', 'ML')

In [66]:
#20. Combine two tuples (names and scores) using zip() and convert the result into a tuple.
names = ("Shrikant","Arvind","JK")
scores = (20,15,25)
combined = tuple(zip(names,scores))
print(combined)

(('Shrikant', 20), ('Arvind', 15), ('JK', 25))

In [67]:
#21. Reverse a tuple using the reversed() function and convert it back to a tuple.
scores_rev = tuple(reversed(scores))
print(scores_rev)

(25, 15, 20)

In [68]:
#22. Find the alphabetically first and last element in a tuple of strings using min() and max()
names = ("Shrikant","Arvind","JK")
print(min(names))
print(max(names))

Arvind
Shrikant

In [69]:
#23. Unpack a tuple of three elements into three separate variables and print them.
first, second, third = names
print(first)
print(second)
print(third)

Shrikant
Arvind
JK

In [70]:
#24. Create a tuple and demonstrate immutability by trying to modify an element (observe the error).
names = ("Shrikant","Arvind","JK")
names[1] = "Moosa"

TypeError: 'tuple' object does not support item assignment

In [71]:
#25. Compare the memory size of a list and a tuple containing the same elements using sys.getsizeof().
import sys

names_tuple = ("Shrikant","Arvind","JK")
names_list = ["Shrikant","Arvind","JK"]
print(sys.getsizeof(names_tuple))
print(sys.getsizeof(names_list))

64
120

In [72]:
#26. Create a tuple of 10 numbers and calculate the average using sum() and len().
numbers = tuple(range(1,11))
print(numbers)
print("Average:",sum(numbers)/len(numbers))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Average: 5.5

In [73]:
#27. Create a tuple of city names and print them in reverse order using slicing.
cities = ("Pune","Kolhapur","Satara","Nagpur","Karad","Ratnagiri")
print("Reverse order:",cities[::-1])

Reverse order: ('Ratnagiri', 'Karad', 'Nagpur', 'Satara', 'Kolhapur', 'Pune')

In [74]:
#28. Convert a tuple of numbers into a list, append a new number, and convert it back into a tuple.
numbers_list = list(numbers)
print(numbers_list)
numbers_list.append(11)
numbers = tuple(numbers_list)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

In [75]:
#29. Create a tuple of employee details (Name, Age, Department) and use unpacking to print each value separately.
employees = ("Shrikanr","45","Agent")
Name, Age, Department = employees
print("Name:", Name)
print("Age:",Age)
print("Department:",Department)

Name: Shrikanr
Age: 45
Department: Agent

In [76]:
#30. Create two tuples (product name, price) and combine them using zip(); then display them sorted by price in descending order
product_name = ("Chakli","Chiwda","Ladoo")
prices = (600,500,800)
combined = tuple(zip(prices,product_name))
print(combined)
print(tuple(sorted(combined, reverse = True)))

((600, 'Chakli'), (500, 'Chiwda'), (800, 'Ladoo'))
((800, 'Ladoo'), (600, 'Chakli'), (500, 'Chiwda'))