In [19]:
#1. Create a set containing five different country names and print it.
#2. Create a set with duplicate numbers and print it to see how duplicates are handled
#3. Use the set() constructor to create a set from a list of fruits.
#4. Add a new element into an existing set using add() method
#5. Add multiple elements into a set using update() method.
#6. Try adding a duplicate element to the set and check if it changes.
#7. Remove an element from a set using remove() method.
#8. Remove an element safely using discard) without raising an errot
#9. Remove a random element using pop() and print both removed and remaining elements.
#10. Clear all elements from a set using clear() and print it.
#11. Create two sets of numbers and perform union operation.
#12. Perform intersection between two sets to find common elements.
#13. Perform difference between two sets to find unique elements from the first set.
#14. Perform symmetric difference between two sets and print the result.
#15. Check if one set is a subset of another using issubset() method.
#16. Check if one set is a superset of another using issuperset() method.
#17. Check if two sets have no common elements using isdisjoint() method.
#18. Use in keyword to check if a particular element exists in a set.
#19. Use not in keyword to check if an element does not exist in a set.
#20. Find the total number of elements in a set using len
#21. Find the maximum and minimum element from a numeric set using max) and min()
#22. Find the sum of all elements from a numeric set using sum).
#23. Convert a set into a sorted list in ascending order using sorted()
#24. Sort a set in descending order using sorted() with reverse-True.
#25. Use any() to check if at least one True value exists in a Boolean set.
#26. Use all() to check if all values in a Boolean set are True.
#27. Copy a set using copy() and verify both sets are independent.
#28. Delete a set completely using del keyword and observe the result.
#29. Convert a list with duplicate values into a set to remove duplicates.
#30. Create two sets of student names (from two different classes) and find:
#a) Common students (intersection)
#b) Students only in class A (difference)
#c) All unique students (union)

In [4]:
#1. Create a set containing five different country names and print it.
countries = {"India","China","Japan","USA","Bhutan"}
print(countries)

{'Bhutan', 'Japan', 'China', 'USA', 'India'}

In [5]:
#2. Create a set with duplicate numbers and print it to see how duplicates are handled
numbers = {1,1,1,1,2,2,2,2,3,3,3}
print(numbers)

{1, 2, 3}

In [6]:
#3. Use the set() constructor to create a set from a list of fruits.
fruits = ["mango","banana","pear","apple","mango"]
print(fruits)
set_of_fruits = set(fruits)
print(set_of_fruits)

['mango', 'banana', 'pear', 'apple', 'mango']
{'mango', 'pear', 'apple', 'banana'}

In [7]:
#4. Add a new element into an existing set using add() method
countries.add("London")
print(countries)

{'London', 'Bhutan', 'Japan', 'China', 'USA', 'India'}

In [8]:
#5. Add multiple elements into a set using update() method.
countries.update(["Nepal","France"])
print(countries)

{'London', 'Nepal', 'France', 'Bhutan', 'Japan', 'China', 'USA', 'India'}

In [9]:
#6. Try adding a duplicate element to the set and check if it changes.
print(countries)
countries.add("London")
print(countries)

{'London', 'Nepal', 'France', 'Bhutan', 'Japan', 'China', 'USA', 'India'}
{'London', 'Nepal', 'France', 'Bhutan', 'Japan', 'China', 'USA', 'India'}

In [10]:
#7. Remove an element from a set using remove() method.
countries.remove("London")
print(countries)

{'Nepal', 'France', 'Bhutan', 'Japan', 'China', 'USA', 'India'}

In [11]:
#8. Remove an element safely using discard) without raising an error
countries.discard("London")
print(countries)

{'Nepal', 'France', 'Bhutan', 'Japan', 'China', 'USA', 'India'}

In [12]:
#9. Remove a random element using pop() and print both removed and remaining elements.
removed = countries.pop()
print(removed)

Nepal

In [13]:
#10. Clear all elements from a set using clear() and print it.
numbers.clear()
print(numbers)

set()

In [15]:
#11. Create two sets of numbers and perform union operation.
set1 = {1,2,3,4}
set2 = {2,3,4,5}
print("Union :", set1 | set2)

Union : {1, 2, 3, 4, 5}

In [16]:
#12. Perform intersection between two sets to find common elements.
print("Intersection :", set1 & set2)

Intersection : {2, 3, 4}

In [17]:
#13. Perform difference between two sets to find unique elements from the first set.
print("Difference :", set1 - set2)

Difference : {1}

In [18]:
#14. Perform symmetric difference between two sets and print the result.
print("Symmetric Difference :", set1 ^ set2)

Symmetric Difference : {1, 5}

In [20]:
#15. Check if one set is a subset of another using issubset() method.
A = {1,2,3}
B = {1,2,3,4}
print("Is A subset of B?",A.issubset(B))

Is A subset of B? True

In [22]:
#16. Check if one set is a superset of another using issuperset() method.
print("Is B superset of A?",B.issuperset(A))

Is B superset of A? True

In [23]:
#17. Check if two sets have no common elements using isdisjoint() method.
print("Is B disjoint of A?",B.isdisjoint(A))

Is B disjoint of A? False

In [24]:
#18. Use in keyword to check if a particular element exists in a set.
print("Does 1 exist in A?",1 in A)

Does 1 exist in A? True

In [25]:
#19. Use not in keyword to check if an element does not exist in a set.
print("Does 1 not exist in A?",1 not in A)

Does 1 not exist in A? False

In [26]:
#20. Find the total number of elements in a set using len
print("Total elements in A:",len(A))

Total elements in A: 3

In [30]:
#21. Find the maximum and minimum element from a numeric set using max() and min()
print("maximum:",max(A))
print("minimum:",min(A))

maximum: 3
minimum: 1

In [31]:
#22. Find the sum of all elements from a numeric set using sum).
print("sum:",sum(A))

sum: 6

In [32]:
#23. Convert a set into a sorted list in ascending order using sorted()
print(countries)
sorted_set = sorted(countries)
print(sorted_set)

{'France', 'Bhutan', 'Japan', 'China', 'USA', 'India'}
['Bhutan', 'China', 'France', 'India', 'Japan', 'USA']

In [33]:
#24. Sort a set in descending order using sorted() with reverse-True.
print(countries)
sorted_set = sorted(countries, reverse=True)
print(sorted_set)

{'France', 'Bhutan', 'Japan', 'China', 'USA', 'India'}
['USA', 'Japan', 'India', 'France', 'China', 'Bhutan']

In [34]:
#25. Use any() to check if at least one True value exists in a Boolean set.
binary = {0,1,1,0}
print("is there at least one True value?",any(binary))

is there at least one True value? True

In [35]:
#26. Use all() to check if all values in a Boolean set are True.
print("are all values in a Boolean set are True?",all(binary))

are all values in a Boolean set are True? False

In [37]:
#27. Copy a set using copy() and verify both sets are independent.
duplicate = countries.copy()
print(duplicate)

{'France', 'Bhutan', 'Japan', 'China', 'USA', 'India'}

In [38]:
#28. Delete a set completely using del keyword and observe the result.
del A
print(A)

NameError: name 'A' is not defined

In [40]:
#29. Convert a list with duplicate values into a set to remove duplicates.
numbers = [1,1,1,2,2,2,3,3,3,4,4]
print(numbers)
converted = set(numbers)
print(converted)

[1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4]
{1, 2, 3, 4}

In [41]:
#30. Create two sets of student names (from two different classes) and find:
A = {"David","Shrikant","JK"}
B = {"Samir","Basu","Rukma","David","JK"}
#a) Common students (intersection)
print("Common students:", A & B)

#b) Students only in class A (difference)
print("Students only in class A:", A - B)

#c) All unique students (union)
print("All unique students:", A | B)

Common students: {'David', 'JK'}
Students only in class A: {'Shrikant'}
All unique students: {'Shrikant', 'Rukma', 'JK', 'Basu', 'David', 'Samir'}